<md-toolbar color="primary">
  <div class="navContainer">
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['tempin']">Outside temp</a>
    <a [routerLink]="['charts']">charts</a>
  </div>
</md-toolbar>
<router-outlet></router-outlet>

<webview id="foo" src="https://m.facebook.com" style="display:inline-flex; width:600px; height:800px" allowpopups disablewebsecurity></webview>
<webview id="bar" src="https://mobile.twitter.com/home" style="display:inline-flex; width:600px; height:800px" allowpopups disablewebsecurity></webview>
<webview id="baz" src="https://web.whatsapp.com/" style="display:inline-flex; width:640px; height:800px"></webview>
