md-toolbar {
  background-color: #3c3c6f!important;
}
a {
  color: white!important;
  text-decoration: none!important;
}

.navContainer {
  padding: 10px;
}

.navContainer a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navContainer a:hover {
  background-color: #020204;
  border-radius: 6px;
}

.flex-container {
  min-height: 600px;
  height: 100%;
}
.middle {
  min-width: 800px;
}
.left {
  border-right: 1px solid #000;
  padding-right: 10px;
}

.right {
  border-left: 1px solid #000;
  padding-left: 10px;
}
