a {
  color: white!important;
  text-decoration: none!important;
}

.navContainer {
  padding: 10px;
}

.navContainer a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navContainer a:hover {
  background-color: darkorchid;
  border-radius: 6px;
}
