<md-toolbar color="primary">
  <div class="navContainer">
    <a [routerLink]="['']">Home</a>
    <a [routerLink]="['tempin']">Outside temp</a>
    <a [routerLink]="['charts']">charts</a>
  </div>
</md-toolbar>
<router-outlet></router-outlet>

<div *ngIf="this.items" class="feedContainer">
  <h1>Social Medias</h1>
  <webview *ngFor="let item of items.someStreams" id="foo" attr.src="{{item}}" style="display:inline-flex;" allowpopups disablewebsecurity autosize="on"></webview>
  <!--<webview id="bar" src="https://mobile.twitter.com/home" style="display:inline-flex; width:600px; height:800px" allowpopups disablewebsecurity></webview>
  <webview id="baz" src="https://web.whatsapp.com/" style="display:inline-flex; width:600px; height:800px"></webview>-->
</div>

<div *ngIf="this.items" class="feedContainer">
  <h1>Messengers</h1>
  <webview *ngFor="let item of items.messengers" id="foo" attr.src="{{item}}" style="display:inline-flex;" allowpopups disablewebsecurity autosize="on"></webview>
  <!--<webview id="bar" src="https://mobile.twitter.com/home" style="display:inline-flex; width:600px; height:800px" allowpopups disablewebsecurity></webview>
  <webview id="baz" src="https://web.whatsapp.com/" style="display:inline-flex; width:600px; height:800px"></webview>-->
</div>

<div *ngIf="this.items" class="feedContainer">
  <h1>News</h1>
  <webview *ngFor="let item of items.newsStreams" id="foo" attr.src="{{item}}" style="display:inline-flex;" allowpopups disablewebsecurity autosize="on"></webview>
  <!--<webview id="bar" src="https://mobile.twitter.com/home" style="display:inline-flex; width:600px; height:800px" allowpopups disablewebsecurity></webview>
  <webview id="baz" src="https://web.whatsapp.com/" style="display:inline-flex; width:600px; height:800px"></webview>-->


</div>
