/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.feedContainer {
  flex-direction: row;
}

.feedContainer webview {
  display: block;       /* iframes are inline by default */
  border: none;         /* Reset default border */
  height: 80vh;        /* Viewport-relative units */
  width: 95vw;
  max-width: 800px;
  max-height: 800px;
}

* {
  color: #ffffff;
}
body {
  background-color: #151540;
}

md-card {
  background-color: #3c3c6f!important;
  border-radius: 6px!important;
  margin-top: 1em;
  color: #ffffff!important;
}

form.find-location.ng-untouched.ng-pristine.ng-valid input {
  color: #000000!important;
}

input#md-input-1,
md-input-container.mat-input-container,
.mat-input-placeholder,
.mat-input-underline{
  color: #ffffff!important;
}

.mat-input-underline .mat-input-ripple {
  background-color: #ffffff!important;
}
