/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.feedContainer {
  flex-direction: row;
}

.feedContainer webview {
  display: block;       /* iframes are inline by default */
  border: none;         /* Reset default border */
  height: 80vh;        /* Viewport-relative units */
  width: 95vw;
  max-width: 950px;
  max-height: 500px;
}

* {

}
body {
  background: url('./assets/space_wallpaper_by_evobiohazard.jpg') no-repeat;
  background-size: cover;
}
webview {
  background-color: #ffffff;
}
md-card {
  background-color: #ffffff!important;
  border-radius: 6px!important;
  margin-top: 1em;
  opacity: 0.7;
  color: #000000!important;

}

.search {
  opacity: 0.7!important;
}


form.find-location.ng-untouched.ng-pristine.ng-valid input {
  color: #000000!important;
}

input#md-input-1,
md-input-container.mat-input-container,
.mat-input-placeholder,
.mat-input-underline{
  color: #ffffff!important;
}

.mat-input-underline .mat-input-ripple {
  background-color: #ffffff!important;
}
.md-input-placeholder {
}

.md-input-underline .md-input-ripple {
  background-color: #ffffff;
}

.spotify-container {
  width: 420px;
}
