/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.feedContainer {
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: row;
}

.feedContainer webview {
  display: block;       /* iframes are inline by default */
  border: none;         /* Reset default border */
  height: 80vh;        /* Viewport-relative units */
  width: 95vw;
  max-width: 800px;
  max-height: 800px;
  margin-left: 30px;
}
